@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #135bec;
  --color-background-light: #F9F9F7;
  --color-background-dark: #101622;
  --font-display: "Inter", "sans-serif";
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

:fullscreen header {
  display: none !important;
}

@layer utilities {
  .glass {
    background: #ffffff;
    border: none;
  }
  
  .dark .glass {
      background: rgba(30, 41, 59, 0.7);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      border: 1px solid rgba(255, 255, 255, 0.05);
  }

  .widget-shadow {
    box-shadow:
      0 4px 24px -1px rgba(0, 0, 0, 0.04),
      0 2px 8px -1px rgba(0, 0, 0, 0.02);
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .animate-vertical-scroll {
      animation: vertical-scroll 30s linear infinite;
  }

  @keyframes vertical-scroll {
      0% { transform: translateY(0); }
      100% { transform: translateY(-50%); }
  }

  .news-container:hover .animate-vertical-scroll {
      animation-play-state: paused;
  }
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
